@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.header__menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
  overflow: hidden;
}
.header__menu span {
  display: inline-block;
  margin: 0 auto;
  width: 60%;
  height: 2px;
  background: #071E48;
  position: relative;
  right: -10px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.2s linear;
}
.header__menu span::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0;
  width: 140%;
  height: 2px;
  background: #071E48;
  border-radius: 20px;
  transition: 0.2s linear;
}
.header__menu span::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 120%;
  height: 2px;
  background: #071E48;
  border-radius: 20px;
  transition: 0.2s linear;
}
.header__drom-menu {
  transition: 0.2s linear;
  text-align: center;
  background: #fff;
  visibility: hidden;
  border-radius: 0.5rem;
  right: 5rem;
  position: absolute;
  right: 0;
  top: 80px;
  line-height: 65px;
  font-size: 1rem;
  text-align: right;
  padding: 25px 60px;
  box-shadow: 0 0 20px #0000000c;
}
.header__drom-menu a {
  color: #071E48;
}
.header__drom-menu a:hover {
  color: #F05D7B;
}
.header__menu.active span {
  background: transparent;
}
.header__menu.active span::before {
  transform: rotate(45deg);
  top: 0;
  width: 140%;
}
.header__menu.active span::after {
  transform: rotate(-45deg);
  top: 0;
  width: 140%;
}
.header__drom-menu.active {
  visibility: visible;
  top: 40px;
}

.banner {
  margin-top: 5rem;
  text-transform: uppercase;
  color: #071E48;
  display: flex;
  align-items: center;
}
.banner__item {
  margin-right: 5rem;
}
.banner__subtitle {
  font-family: Montserrat;
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.banner__subtitle span {
  color: #F05D7B;
}
.banner__title {
  font-weight: bold;
  font-size: 52px;
  line-height: 76px;
  max-width: 600px;
  margin-bottom: 0.5rem;
}
.banner__desc {
  font-size: 18px;
  color: #A4ABCB;
  font-family: Montserrat;
  letter-spacing: 0.1rem;
}
.banner__btns {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.banner__btn-here {
  margin-right: 2rem;
  padding: 1.5rem 2.5rem;
  color: #fff;
  font-weight: 400;
  background: #F05D7B;
  border-radius: 10rem;
  transition: 0.4s;
  border: solid 1px #F05D7B;
}
.banner__btn-here:hover {
  color: #F05D7B;
  border: solid 1px #F05D7B;
  background: transparent;
}
.banner__image {
  max-width: 500px;
}
.banner__image img {
  width: 100%;
}

@media screen and (max-width: 921px) {
  .banner {
    display: block;
    justify-content: center;
  }
  .banner__title {
    font-size: 32px;
    line-height: 48px;
  }
  .banner__image {
    margin-top: 2rem;
  }
  .banner__btn-here:nth-child(2) {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
